body {
  text-align: center;
}

svg {
  font: 10px sans-serif;
  text-align: center;
  display: block;
  margin: auto;
}

.tile {
  stroke: black;
  stroke-width: 1px;
}

.tile-text{
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip 
{	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: auto;					
    padding: 2px;				
    font-family: 'Slabo 12px', serif;
    background: lavender;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
